{% extends 'base.html' %}

{% block content %}

<main class="sp">
  <div class="container">
    <center>
      <div class="search-bar">
        <input type="text" placeholder="Search" />
        <div class="animated-search" onclick="searchbar()">
          <i class="uil uil-search"></i>
        </div>
      </div>
      <div class="typo">
        <h1 class="title">Beer Drinker's Little Black Book</h1>
        <p>
          An online journal for drinkers of beer
        </p>
      </div>
      <div class="newsletter">
        <form method="POST">
          <input
            type="email"
            name="email"
            maxlength="100"
            placeholder="Enter your email"
            required=""
            id="id_email"
          />
          <button class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </center>
  </div>
</main>

{% for entry in entries %}
<section class="sp">
  <div class="container">
    <div class="grid-2">
      <div class="post-img">
        <img src="images/entry.png" alt="entry photo" />
      </div>
      <div class="post-content">
        <div class="cetagory">
          <p>Category name</p>
        </div>
        <h1>
          Lorem ipsum began as scrambled, nonsensical Latin derived from
          Cicero's 1st-century BC text.
        </h1>
        <p class="des">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          ullam animi repellat non ut delectus culpa! Iste quia corporis
          illum doloribus facilis quo totam eveniet sapiente odit
          cupiditate? Cumque, nam?
        </p>
        <a class="learn" href="#"
          >Learn more <span class="material-icons"> trending_flat </span></a
        >
      </div>
    </div>
  </div>
</section>
<section class="sp">
  <div class="container">
    <h1 class="sec-title">Top blogs</h1>
    <div class="grid-3">
{% endfor %}
{% for entry in entries %}


<div class="card">
    <div class="post-img">
      <img src="{{entry.beer_pic.url}}" alt="beer photo lives here" />
      <div class="tag">{{entry.beer_style}}</div>
    </div>
    <div class="card-content">
      <h3>
        {{entry.beer_name}}
      </h3>
      <div class="author">
        <div class="profile-pic">
          <img src="images/author.svg" alt="" />
        </div>
        <div class="details">
          <p>{{entry.author}}</p>
          <small>{{entry.last_updated | date}}</small>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

</div>
<center>
  <a href=""><button class="btn btn-primary rounded view">
    View more <span class="material-icons"> trending_flat </span>
  </button></a>
</center>
</div>
</section>


<div class="public-reply">
<div class="comment-box">
  <h3>
    Create a New Entry
  </h3>
<form method="POST">
  {% csrf_token %}
  
  <div class="grid-3">

    {{form.beer_name}}
    {{form.brewery_name}}
    {{form.beer_style}}
    {{form.beer_pic}}
    {{form.entry}}
    {{form.content}}

    <button class="btn btn-primary rounded">
      Post Entry
    </button>

  </div>
</form>
</div>
</div>

{% endblock content%}